<template>
  <section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Weather Open Data api
      </h1>
      <div class="content">
        <b-table :data="tables" :columns="columns" striped bordered></b-table>
      </div>
    </div>
  </div>
</section>
</template>
<script>
export default {
  name: 'About',
  data() {
    return {
      tables: [
        {name: 'API URL', value:'https://data.taipei/opendata/datalist/apiAccess?scope=resourceAquire&rid=1f1aaba5-616a-4a33-867d-878142cac5c4'},
        {name:'HTTP Method', value: 'GET'},
        {name:'Limit', value:'provided only 3 day range weather data'},
        {name:'query Parameter q', value:'query content could be datatime, temperature, or locationName'},
        {name:'query Parameter limit', value:'the amount of number to query from offset' },
        {name:'query Parameter offset', value:'the offset from where data to query'}
      ],
      columns: [{
        field: 'name', label: '名稱'
      },{
        field:'value', label: '作用'
      }]
    }
  }
}
</script>