<template>
  <div class="home">
    <SearchInput />
    <Table />
  </div>
</template>

<script>
// @ is an alias to /src
import Table from '@/components/Table.vue'
import SearchInput from '@/components/SearchInput.vue'
export default {
  name: 'Home',
  components: {
    Table,
    SearchInput
  }
}
</script>
