<template>
    <div class="filterLatest">
        <b-checkbox :name="name" v-model="showLatest">
            show only latest
        </b-checkbox>
    </div>
</template>
<script>
export default {
    name: 'Checkbox',
    data() {
        return {
            name: 'showLatest'
        }
    },
    computed: {
        showLatest: {
            get () {
                return this.$store.state.showLatest
            },
            set(value) {
                // FILTER
                this.$store.dispatch("update_show_latest", value)
                if (value == true) {
                    this.$store.dispatch("filt_only_latest")
                } else {
                    this.$store.dispatch("show_unfiltered_list")
                }
            }
        }
    }
}
</script>
<style scoped>
.filterLatest {
    margin-left: 15px;
}
</style>