<template>
    <footer class="footer">
    <div class="content has-text-centered">
        <p>
        <strong>This website is Wroten</strong> by <a href="https://yuanyu90221.github.io/">Json Liang</a>.
        </p>
    </div>
    </footer>
</template>
<script>
export default {
    name: 'Footer'
}
</script>