<template>
<div>
    <b-loading :is-full-page="isFullPage" :can-cancel="canCancel" :active.sync="isLoading" ></b-loading>
</div>
</template>
<script>
import {mapState} from 'vuex'
export default {
    name: 'Loading',
    data() {
        return {
            isFullPage: true,
            canCancel: true
        }
    },
    computed: mapState({
        isLoading: state => state.isLoading
    })
}
</script>