<template>
    <b-navbar>
         <template slot="brand">
            <b-navbar-item tag="router-link" :to="{ path: '/' }">
                <img
                    src="@/assets/weather/favicon-96x96.png"
                    alt="Lightweight UI components for Vue.js based on Bulma"
                    style="border-radius:50%;"
                >
            </b-navbar-item>
        </template>
        <template slot="start">
            <router-link to="/" class="navbar-item">Home</router-link>
            <router-link to="/about" class="navbar-item">About</router-link>
        </template>
    </b-navbar>
</template>
<script>
export default {
    name: 'Nav'
}
</script>