<template>
    <div class="container searchGroup">
        <div class="section">
           <div class="field">
                <b-radio v-model="radio"
                    name="name"
                    native-value="default">
                No Criteria Selected
                </b-radio>
                <b-radio v-model="radio"
                    name="name"
                    native-value="Date">
                    Query By Date
                </b-radio>
                <b-radio v-model="radio"
                    name="name"
                    native-value="locationName">
                    Query By Location
                </b-radio>
                <b-radio v-model="radio"
                    name="name"
                    native-value="value">
                    Query By Temperature
                </b-radio>
            </div>
            <b-field v-if="radio=='Date'">
                <b-datepicker
                    :min-date="minDate"
                    :max-date="maxDate"
                    v-model="date"
                    ref="datepicker"
                    expanded
                    placeholder="Select a date">
                </b-datepicker>
                <b-button
                    @click="$refs.datepicker.toggle()"
                    icon-left="calendar-day"
                    type="is-primary" />
            </b-field >
            <div  v-if="radio=='value'">
                <b-input type="number" v-model="temp" min="0"/>
            </div>
            <div v-if="radio=='locationName'">
              <b-select placeholder="Select a location" v-model="locName">
                <option
                    v-for="option in locationName"
                    :value="option"
                    :key="option">
                    {{ option }}
                </option>
                </b-select>
            </div>
            <div>
                <b-button  icon-right="search" type="is-primary" @click="queryByCriteria"></b-button>
            </div>
        </div>
        
    </div>
        
</template>
<script>
import Dayjs from 'dayjs'
export default {
    name: 'SearchInput',
    data() {
        return {
            minDate: new Date(new Dayjs().add(-2, 'day')),
            maxDate: new Date(new Dayjs().add(1, 'day')),
            date: new Date(),
            radio: "default",
            temp: 0,
            locationName: [
                "松山區",
                "信義區",
                "大安區",
                "中山區",
                "中正區",
                "大同區",
                "萬華區",
                "文山區",
                "南港區",
                "內湖區",
                "士林區",
                "北投區"
            ],
            locName: "松山區"
        }
    },
    methods: {
        // SEARCH
        async queryByCriteria() {
            const radio = this.radio
            let query="&q="
            switch(radio) {
                case 'Date':
                   query+= new Dayjs(this.date).format('YYYY-MM-DD')
                    break;
                case 'locationName':
                    query+=this.locName
                     break;
                case 'value':
                    query+=this.temp.toString()
                    break;
                default:
                    query=""
            }
            this.$store.dispatch('set_loading_state', true);
            await this.$store.dispatch('fetch_with_query',{query})
             this.$store.dispatch('set_loading_state', false);
        }
    }
}
</script>
<style scoped>
.searchGroup {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border: 1px solid gray;
}
</style>