<template>
   <div class="table">
    <Checkbox />
    <b-table :data="showList"
      :paginated="showList.length > 15" :pagination-simple="tableConfig.isPaginationSimple"
      :pagination-position="tableConfig.paginationPosition"
      :default-sort-direction="tableConfig.defaultSortDirection"
      :current-page.sync="tableConfig.currentPage" :per-page="tableConfig.perPage"
      :sort-icon="tableConfig.sortIcon" :sort-icon-size="tableConfig.sortIconSize"
      aria-next-label="Next page"
      aria-previous-label="Previous page"
      aria-page-label="Page"
      aria-current-label="Current page"
      striped
      sortable
      :sticky-header="tableConfig.isStickyHeader"
    >
        <template slot-scope="props">
              <!--b-table-column v-for="(column, index) in columns"
                  :key="column.label+index"
                  :label="column.label" 
                  centered
                  sortable
                 >
                 <span v-if="column.label!=='time'">{{ props.row[column.field] }} </span>
                 <span v-else>{{props.row[column.field] | dateFormat}}</span>
              </b-table-column-->

              <!-- field id -->
              <b-table-column
                :field="columns[0].field"
                :label="columns[0].label"
                width="20"
                centered
                sortable
              >
                <template slot="header" slot-scope="{ column }" >
                  <b-tooltip :label="column.label" dashed>
                    {{ column.label }}
                  </b-tooltip>
                </template>
                <div>{{ props.row._id }}</div>
              </b-table-column>
              <!-- field locationName -->
               <b-table-column
                :field="columns[1].field"
                :label="columns[1].label"
                width="120"
                centered
              >
                <template slot="header" slot-scope="{ column }" >
                  <b-tooltip :label="column.label">
                    {{ column.label }}
                  </b-tooltip>
                </template>
                <div>{{ props.row.locationName }}</div>
              </b-table-column>
              <!-- field value-->
              <b-table-column
                :field="columns[2].field"
                :label="columns[2].label"
                width="120"
                centered
                sortable
              >
                <template slot="header" slot-scope="{ column }" >
                  <b-tooltip :label="column.label" dashed>
                    {{ column.label }}
                  </b-tooltip>
                </template>
                <div centered>{{ props.row.value }}</div>
              </b-table-column>
              <!-- field measure -->
              <b-table-column
               :field="columns[3].field"
               :label="columns[3].label"
                centered
              >
                <template slot="header" slot-scope="{ column }">
                  <b-tooltip :label="column.label">
                    {{ column.label }}
                  </b-tooltip>
                </template>
                <div>{{ props.row.measures }}</div>
              </b-table-column>
              <!-- field dataTime -->
              <b-table-column
                :field="columns[4].field"
                :label="columns[4].label"
                width="180"
                centered
                sortable
              >
                <template slot="header" slot-scope="{ column }" dashed>
                  <b-tooltip :label="column.label" dashed>
                    {{ column.label }}
                  </b-tooltip>
                </template>
                <div>{{ props.row.dataTime|dateFormat }}</div>
              </b-table-column>
              <!-- field lat -->
              <b-table-column
               :field="columns[5].field"
               :label="columns[5].label"
                centered
              >
                <template slot="header" slot-scope="{ column }" >
                  <b-tooltip :label="column.label" >
                    {{ column.label }}
                  </b-tooltip>
                </template>
                <div>{{ props.row.lat }}</div>
              </b-table-column>
              <!-- field lon -->
              <b-table-column
                :field="columns[6].field"
                :label="columns[6].label"
                centered
              >
                <template slot="header" slot-scope="{ column }" >
                  <b-tooltip :label="column.label" >
                    {{ column.label }}
                  </b-tooltip>
                </template>
                <div>{{ props.row.lon }}</div>
              </b-table-column>
                <!-- field geocode -->
               <b-table-column
                :field="columns[7].field"
                :label="columns[7].label"
                width="120"
                centered
              >
                <template slot="header" slot-scope="{ column }" >
                  <b-tooltip :label="column.label" >
                    {{ column.label }}
                  </b-tooltip>
                </template>
                <div>{{ props.row.geocode }}</div>
              </b-table-column>
          </template>
          <!-- empty data -->
          <template slot="empty">
            <section class="section">
              <div class="content has-text-grey has-text-centered">
                <p>No match data found.</p>
              </div>
            </section>
          </template>
    </b-table>
  </div>
</template>

<script>
import {mapState} from 'vuex'
import Checkbox from '@/components/Checkbox.vue'
export default {
  name: 'Table',
  data() {
    return {
      tableConfig:{
     isPaginationSimple: false,
     paginationPosition: 'bottom',
     defaultSortDirection: 'asc',
     perPage: 15,
     currentPage: 1,
     sortIcon: "arrow-up",
     sortIconSize: "is-small",
     isStickyHeader: false},
     columns:[
      {
        field: '_id',
        label: 'id'
      },
      {
        field: 'locationName',
        label: '地區'
      },
      {
        field: 'value',
        label: '溫度'
      },
      {
        field: 'measures',
        label: '單位'
      },
      {
        field: 'dataTime',
        label: 'time'
      },
      {
        field: 'lat',
        label: '緯度'
      }, 
      {
        field: 'lon',
        label: '經度'
      },
      {
        field: 'geocode',
        label: 'geocode'
      }
    ]
   }
  },
  computed: mapState({
    showList: state => state.showList
  }),
  async created() {
    this.$store.dispatch('set_loading_state', true)
    await this.$store.dispatch('fetch_weather_data')
    this.$store.dispatch('set_loading_state', false)
  },
  components: {
    Checkbox
  }
}
</script>
<style scoped>

</style>
