<template>
  <div id="app">
    <Nav />
    <router-view/>
    <Loading/>
    <Footer/>
  </div>
</template>

<script>
import Loading from '@/components/Loading.vue'
import Nav from'@/components/Nav.vue'
import Footer from '@/components/Footer.vue'
export default {
  name: 'App',
  components: {
    Loading,
    Nav,
    Footer
  }
}
</script>
